<!doctype html>
<html>
    <head>
        <title>Upload new File</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>
    <body>
        <div id="greeting">
            <h1>Affinity Checker</h1>
            <p>Upload a .csv with the first column as startup names!</p>
        </div>
        <div id="interact">
                <form method=post enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                </form>
        </div>
    </body>
</html>